<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:value="hi"></title>
</head>
<body>
	<h1>Accounts</h1>
	<form th:action="@{/users/{userId}/accounts(userId=${user.userId})}" method="post">
				<h2>Accounts</h2>
			  	 <div th:each="account : ${accounts}">
			  	 	<a th:href="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${account.accountId})}" th:text="${account.accountName}"></a>
			  	 </div>
			  	 <br>
			  	 <div>
			  	 	<input type="submit" value="Create New Bank Account"/>
			  	 </div>
			  	 <br>
			  	 <div>
			  	 	<a th:href="@{/users/{userId}(userId=${user.userId})}">back</a>
			  	 </div>
			
			</form>
</body>
</html>