<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:inline="text">[[${accounts.accountName}]]</title>
</head>
<body>
	<h1 th:inline="text">[[${accounts.accountName}]]</h1>
	<div>
		<form th:action="@{/users/{userId}/accounts/{accountId}(userId=${user.userId}, accountId=${accounts.accountId})}" 
			  method="post">
			<div>
				Account Name:  <input type="text" th:field="${accounts.accountName}"/>
			</div>
			<div>
				<input type="hidden" th:field="${accounts.users}"/>
			</div>
			<div>
				<input type="submit" value="Save Account"/>
			</div>
		</form>
		<hr>
		<a th:href="@{/users/{userId}(userId=${user.userId})}">back</a>
	</div>


</body>
</html>